
<div class="container-fluid container-full-height">
  <div class="row">
    <div class="col-lg-3">
      <div class="">
        
        <div class="" [hidden]=!show_data>
            <div class="">
              <p>Hoi sinh vien</p>
              <div class="input-group">
                <!--<span class="input-group-addon" id="basic-addon1">Id</span>-->
                <input type="text" class="form-control" placeholder="Id" aria-describedby="basic-addon1">
              </div>
              
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Id" aria-describedby="basic-addon1">
              </div>
            </div>
   
            <button type="button" (click)="loginFb()" class="btn btn-primary button-inside">Login</button>
            <button type="button" (click)="logoutFb()" class="btn btn-primary button-inside">Logout</button>
        </div>
        

        
      </div>
    </div>

    <div class="container-full-height col-lg-9" style="display:block">
    
    <ngx-datatable
          style="height:inherit;"
          class="material"
          [rows]="rows"
          [columns]="columns"
          [columnMode]="'force'"
          [headerHeight]="50"
          [rowHeight]="35"
          [scrollbarV]="true"
          [scrollbarH]="true"
          [selected]="selected"
          [selectionType]="'single'"
          (activate)="onActivate($event)"
    >
          <ngx-datatable-column name="Id" prop="id" [maxWidth]="150">
            
          </ngx-datatable-column>
          <ngx-datatable-column name="Name" prop="name" [minWidth]="150">
            
          </ngx-datatable-column>
          <ngx-datatable-column name="Time limit" prop="time_limit" [width]="120">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value*1000 | date: 'd/MM/yy HH:MM'}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Last update" prop="last_update" [width]="120">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value*1000 | date: 'd/MM/yy HH:MM'}}
            </ng-template>
          </ngx-datatable-column>
        
          
    </ngx-datatable>
        
    </div>
  </div>
</div>
